
.form {
    min-width: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.buttons_container {
    display: flex;
    justify-content: flex-end;
    gap: 10px
}

.buttons_container_signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#error_message {
    color: red
}

#success_message {
    color: green
}